# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/

# Visual Studio / Rider files
.vs/
.idea/
*.user
*.suo
*.cache
*.vspscc
*.vssscc
*.userprefs

# NuGet packages
*.nupkg
**/packages/*
!**/packages/build/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Misc
*.log
.DS_Store
Thumbs.db
*.swp
*~
